// font-family: 'Francois One', sans-serif;
// font-family: 'Noto Sans SC', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Francois+One|Noto+Sans+SC&display=swap');

// variables
$font-headings: 'Francois One';
$font-body: 'Noto Sans SC';
$font-body-color: #333;

$roundness: 20px 0 20px 0; // list properties